.main-count p{
   color: var(--blue);
}
sup{
    color: #fff;
    background-color: var(--light-green);
    border-radius: 5px;
    padding: 5px 6px 2px 5px;
    font-size: 1rem;
}
.values div:first-child{
    padding-bottom: 0.3rem;
}

.values {
    width: 35%;
}