<div class="card">
    <h3 class="title">Temperature</h3>
    <div class="measurement">
        <div class="main-count"><p>21<sub>c</sub></p></div>
        <div class="values">
            <div>
                <img width="15px" src="../../assets/image/fire.svg" alt="logo">
                <span><b>26</b><sub>c</sub></span>
            </div>
            <div>
                <img width="15px" src="../../assets/image/snowflake.svg" alt="logo">
                <span><b>18</b><sub>c</sub></span>
            </div>
        </div>
    </div>
</div>
